

.calculator
{
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100px;
    height: 100px;
    border-color: black;
    border-radius: 10px;
    padding: 5px;
    padding-bottom: 30px;
    margin: auto;
}

.display
{
    background-color: white;
    padding: 4px;
    border: 1px;
    border-radius: 10px;
    border-color: black;
    background-color: darkgray;
    margin-bottom: 10px;
}

.row
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

button
{
    background-color: grey;
    flex-grow: 1;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10px;
    width: 20px;
}
